section#main_content {
    float: right;
    margin: 0 100px 0 0;
    padding: 20px 82px 0 0;
    max-width: 700px;
}

img#kepler_head {
    margin: 0 100px;
}

nav#aside {
    float: left;
    color: white;
    margin: 100px 0 0 160px;
}